{:paths   ["src"]
 :deps    {org.clojure/clojurescript {:mvn/version "1.10.773"}
           hickory                   {:mvn/version "0.7.1"}
           lambdaisland/deep-diff2   {:mvn/version "2.0.0-93"}}
 :aliases {:app  {:extra-paths ["dev" "resources"]
                  :extra-deps  {thheller/shadow-cljs {:mvn/version "2.10.14"}
                                reagent              {:mvn/version "0.10.0"}
                                meander/epsilon      {:mvn/version "0.0.469"}
                                kuhumcst/rescope     {:git/url "https://github.com/kuhumcst/rescope.git"
                                                      :sha     "76462b03325aa30b517aa092b3752ae1c5775037"}
                                kuhumcst/recap       {:git/url "https://github.com/kuhumcst/recap.git"
                                                      :sha     "e3eb24e4f4084a64e39cf2dcb5c28b4528e34343"}}}
           :test {:extra-paths ["test"]}}}
